<div class="center-card">
    <div class="card text-center" style="width: 600px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <div class="form-outline">
                <label class="form-label" for="email">Email Address</label>
                <input type="email" id="email" class="form-control my-3" placeholder="name@example.com" #txtEmail />
            </div>
            <a class="btn btn-primary w-100" (click)="passwordReset(txtEmail.value)">Reset password</a>
            <div class="d-flex justify-content-between mt-4">
            </div>
        </div>
    </div>
</div>
