<div class="row" *ngIf="state.state">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card login-form">
            <div class="card-body">
                <h3 class="card-title text-center" class="card-header h5 text-white bg-primary">Change password</h3>	
                <div class="card-text">
                        <div class="form-group">
                            <label for="password">Your new password</label>
                            <input type="password" class="form-control form-control-sm" id="password" placeholder="Password" #TxtPassword>
                        </div>
                        <div class="form-group">
                            <label for="passwordConfirm">Password Confirm</label>
                            <input type="password" class="form-control form-control-sm" id="passwordConfirm" placeholder="Password Confirm" #TxtPasswordConfirm>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block submit-btn" (click)="updatePassword(TxtPassword.value, TxtPasswordConfirm.value)">Confirm</button>
                </div>
            </div>
        </div>
    </div>   
</div>
<div class="alert alert-danger" role="alert" *ngIf="!state.state">
    Üzgünüz, bu bağlantı artık geçerli değil! Lütfen yeniden şifre oluşturma talebinde bulununuz.
</div>
